[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
glob2 = "*"
requests = "*"
mutagen = "*"
beautifulsoup4 = "*"
win-unicode-console = "*"
appdirs = "*"
lyrico = {path = "."}
pysimpleguiqt = "*"
pyside2 = "*"
pysimplegui = "*"
pysimpleguiwx = "*"
wxpython = "*"

[requires]
python_version = "3.7"
